.Main-Sidebar-div {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0C1018;
    padding-top: 30px;

}

.rewards.svelte-1v5w3dz.svelte-1v5w3dz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 8px;
    margin: 0 0 8px
}

.reload{
    width:50%

}

button.svelte-1v5w3dz.svelte-1v5w3dz {
    position: relative;
    background: none;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0 10px;
    width: 88px;
    height: 48px;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 12px;
    overflow: hidden;
    z-index: 1;
    transition: transform .2s ease
}

.small.svelte-1v5w3dz button.svelte-1v5w3dz {
    width: 33%;
    height: 40px;
    padding: 7px 5px;
    text-align: center;
    justify-content: center;
}

button.svelte-1v5w3dz:hover .bg.svelte-1v5w3dz,
button.svelte-1v5w3dz:focus .bg.svelte-1v5w3dz {
    opacity: .8
}

button.svelte-1v5w3dz:focus .bg.svelte-1v5w3dz {
    box-shadow: inset 0 0 0 2px var(--focus-color)
}

button.svelte-1v5w3dz.svelte-1v5w3dz:active {
    transform: scale(.9)
}

button.svelte-1v5w3dz img {
    position: absolute;
    top: 7px;
    right: -10px;
    height: 45px;
    width: 45px;
    pointer-events: none
}

.text.svelte-1v5w3dz.svelte-1v5w3dz {
    position: relative;
    z-index: 1;
    font-family: Kanit, Proxima Nova, Arial, sans-serif;
    font-weight: 700
}

.text.svelte-1v5w3dz>.svelte-1v5w3dz {
    display: block
}

strong.svelte-1v5w3dz.svelte-1v5w3dz {
    font-weight: 700
}

span.svelte-1v5w3dz.svelte-1v5w3dz {
    opacity: .6
}

.bg.svelte-1v5w3dz.svelte-1v5w3dz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: .3;
    transition: opacity .2s ease, box-shadow .2s ease
}

.reload.svelte-1v5w3dz .text.svelte-1v5w3dz {
    color: #fffee8;
    position: relative;
    right: 15px;
}

.reload.svelte-1v5w3dz .bg.svelte-1v5w3dz {
    background: linear-gradient(120deg, #692e14 20%, rgba(255, 153, 0, .5));
    box-shadow: inset 0 0 0 1px #f903
}

.reload.svelte-1v5w3dz strong.svelte-1v5w3dz {
    font-size: 9px;
    line-height: 9px
}

.reload.svelte-1v5w3dz span.svelte-1v5w3dz {
    font-size: 10.5px;
    line-height: 10.5px
}

.rakeback.svelte-1v5w3dz .text.svelte-1v5w3dz {
    color: #cef7e3;
    position: relative;
    right: 15px;
}

.rakeback.svelte-1v5w3dz .bg.svelte-1v5w3dz {
    background: linear-gradient(120deg, #086b26 20%, rgba(0, 255, 60, .3));
    box-shadow: inset 0 0 0 1px #00ff4333
}

.faucet.svelte-1v5w3dz .text.svelte-1v5w3dz {
    color: #e3ebff;
    position: relative;
    right: 15px;
}

.faucet.svelte-1v5w3dz .bg.svelte-1v5w3dz {
    background: linear-gradient(120deg, #0042bc 20%, rgba(0, 90, 255, .5));
    box-shadow: inset 0 0 0 1px #005affcc
}

.faucet.svelte-1v5w3dz span.svelte-1v5w3dz {
    font-size: 10.6px;
    line-height: 10.6px
}

.vip.svelte-1v5w3dz .text.svelte-1v5w3dz {
    color: #ffeef2;
    position: relative;
    right: 15px;
}

.vip.svelte-1v5w3dz .bg.svelte-1v5w3dz {
    background: linear-gradient(120deg, #940c32 20%, rgba(148, 12, 50, .5));
    box-shadow: inset 0 0 0 1px #ff3c7a33
}

.vip.svelte-1v5w3dz span.svelte-1v5w3dz {
    font-size: 8px;
    line-height: 10px
}

.monthly.svelte-1v5w3dz.svelte-1v5w3dz {
    width: 100%;
    grid-column: span 2
}

.monthly.svelte-1v5w3dz .text.svelte-1v5w3dz {
    color: #ffeef2;
    position: relative;
    right: 15px;
}

.monthly.svelte-1v5w3dz .bg.svelte-1v5w3dz {
    background: linear-gradient(120deg, #fc466b 0%, #3f5efb 100%);
    box-shadow: inset 0 0 0 1px #ff3c7a33
}

.small.svelte-1v5w3dz.svelte-1v5w3dz {
    grid-template-columns: 1fr;
    margin-bottom: 8px;
    width:80%;

}
.Sidebar-Menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Sidebar-Menu ul{
    width: 80%;
    
}
.Sidebar-Menu ul li{
    list-style: none;
    padding-left: 0px;
    color: #8593AF;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}


.fa-gamepad{
    font-size: 16px;
    color: #8593AF;
}


